body{
   width: 20%;
    margin: auto;

    padding: 0;
}

.main{
    margin-top: 20px;
    
    
}
 table{
    background-color: #151c22;
    width: 100%;
    border-radius: 25px;
padding: 15px;
}

.display{

    border: 1px solid #000;
    padding: 10px; 
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #92b798;
    font-size: 45px;
    font-weight: bold;
}

#input-element {

    background-color: #8597a1;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;

}

#calculate{

    background-color: #8597a1;
    padding: 15px;
    font-size:30px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}

#clear{

    background-color: #8597a1;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}